# IMDb Exploratory Data Analysis

## 1. Setup & Data Loading:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

# Load datasets
basics = pd.read_csv("../data/processed/imdb_basics_clean.csv")
ratings = pd.read_csv("../data/processed/imdb_ratings_clean.csv")

## 2. Initial Data Overview

In [2]:
ratings.head()
ratings.info()
ratings.describe()

<class 'pandas.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       73856 non-null  str
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), str(1)
memory usage: 1.7 MB

       averagerating      numvotes
count   73856.000000  7.385600e+04
mean        6.332729  3.523662e+03
std         1.474978  3.029402e+04
min         1.000000  5.000000e+00
25%         5.500000  1.400000e+01
50%         6.500000  4.900000e+01
75%         7.400000  2.820000e+02
max        10.000000  1.841066e+06

In [3]:
basics.info()
basics.head()

<class 'pandas.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  str
 1   primary_title    146143 non-null  str
 2   start_year       146144 non-null  int64
 3   runtime_minutes  114405 non-null  float64
 4   genres           140736 non-null  str
 5   title_clean      146144 non-null  str
dtypes: float64(1), int64(1), str(4)
memory usage: 6.7 MB

,movie_id,primary_title,start_year,runtime_minutes,genres,title_clean
0,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",sunghursh
1,tt0066787,One Day Before the Rainy Season,2019,114.0,"Biography,Drama",one day before the rainy season
2,tt0069049,The Other Side of the Wind,2018,122.0,Drama,the other side of the wind
3,tt0069204,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",sabse bada sukh
4,tt0100275,The Wandering Soap Opera,2017,80.0,"Comedy,Drama,Fantasy",the wandering soap opera

## 3. Merge data sets

In [4]:
# Merge datasets on 'movie_id'
df = pd.merge(basics, ratings,on='movie_id')
df.head()

,movie_id,primary_title,start_year,runtime_minutes,genres,title_clean,averagerating,numvotes
0,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",sunghursh,7.0,77
1,tt0066787,One Day Before the Rainy Season,2019,114.0,"Biography,Drama",one day before the rainy season,7.2,43
2,tt0069049,The Other Side of the Wind,2018,122.0,Drama,the other side of the wind,6.9,4517
3,tt0069204,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",sabse bada sukh,6.1,13
4,tt0100275,The Wandering Soap Opera,2017,80.0,"Comedy,Drama,Fantasy",the wandering soap opera,6.5,119

## 4. Columns check

In [5]:
print(df.columns.tolist())
# Clean column names
df = df.rename(columns={
    'numvotes': 'num_votes',
    'averagerating': 'average_ratings',
    'start_year': 'release_year'
     
})
df

['movie_id', 'primary_title', 'start_year', 'runtime_minutes', 'genres', 'title_clean', 'averagerating', 'numvotes']

,movie_id,primary_title,release_year,runtime_minutes,genres,title_clean,average_ratings,num_votes
0,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",sunghursh,7.0,77
1,tt0066787,One Day Before the Rainy Season,2019,114.0,"Biography,Drama",one day before the rainy season,7.2,43
2,tt0069049,The Other Side of the Wind,2018,122.0,Drama,the other side of the wind,6.9,4517
3,tt0069204,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",sabse bada sukh,6.1,13
4,tt0100275,The Wandering Soap Opera,2017,80.0,"Comedy,Drama,Fantasy",the wandering soap opera,6.5,119
...,...,...,...,...,...,...,...,...
73851,tt9913084,Diabolik sono io,2019,75.0,Documentary,diabolik sono io,6.2,6
73852,tt9914286,Sokagin Çocuklari,2019,98.0,"Drama,Family",sokagin çocuklari,8.7,136
73853,tt9914642,Albatross,2017,NaN,Documentary,albatross,8.5,8
73854,tt9914942,La vida sense la Sara Amat,2019,NaN,NaN,la vida sense la sara amat,6.6,5
73855,tt9916160,Drømmeland,2019,72.0,Documentary,drømmeland,6.5,11